* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #000;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    /* Garante que os botões do menu não fiquem escondidos atrás do rodapé */
    justify-content: center;
    /* Centraliza no eixo vertical (Y) */
    
}

p {
    margin-left: 10px;
    color: #c0c0c0;
    font-weight: 400;
    font-size: 20px;
    max-width: 330px;
    box-sizing: border-box;
    /* Garante que padding não estoure a div */
    word-wrap: break-word;
    /* Força a quebra de palavras muito longas */
    overflow-wrap: break-word;
}

#visor {
    top: 0px;
}

h2 {
    font-size: 15px;
    
}

/* Importa as fontes diretamente do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Atualize o seu H1 existente para usar a fonte escolhida */
#chat-header.iniciado {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    background-color: black;
    box-shadow: 5px 5px 40px 30px #000000;
    border-radius: 10px;
    padding: 0;
}
#chat-header.iniciado h2{
    font-size: 13px;
    padding-top: 17px;
    padding-left: 5px;
    font-weight: 600;
}
#chat-history{
    margin-top: 100px;
    
}
h1, h2 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: glowing 20s linear infinite;
    font-style: normal;
    text-align: center;
    margin: 15px 0;
}

